
/* .Header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-image: url("travellersonvans.jpg"); 
  color: black;
  font-weight: bold;
} */

.logo {
  height: 150px;
  width: 175px;
}

/* Default height for small devices */
#intro-example {
  height: 600px;
  /* background-image: url("Travellersonvanwithwords.png"); */
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 800px;
  }
}